In [7]:
import scipy.sparse as sp
from scipy.sparse.linalg import svds
import pandas as pd

In [12]:
user1236 = pd.read_csv(
    '1236.dat',
    sep='\t')

user1236.head()

   userID  artistID  weight
0    1236         7   15239
1    1236       198    1158
2    1236       210     897
3    1236       377     990
4    1236       416    1032

In [15]:
totalListens = sum(user1236['weight'])
totalListens

248680

In [17]:
user1236['normalized'] = user1236['weight'] / totalListens
user1236.head()

   userID  artistID  weight  normalized
0    1236         7   15239    0.061280
1    1236       198    1158    0.004657
2    1236       210     897    0.003607
3    1236       377     990    0.003981
4    1236       416    1032    0.004150

In [19]:
everyone = pd.read_csv(
    'user_artists.dat',
    sep='\t')

total = sum(everyone['weight'])

everyone['normalized'] = everyone['weight'] / total

everyone

       userID  artistID  weight  normalized
0           2        51   13883    0.000201
1           2        52   11690    0.000169
2           2        53   11351    0.000164
3           2        54   10300    0.000149
4           2        55    8983    0.000130
...       ...       ...     ...         ...
92829    2100     18726     337    0.000005
92830    2100     18727     297    0.000004
92831    2100     18728     281    0.000004
92832    2100     18729     280    0.000004
92833    2100     18730     263    0.000004

[92834 rows x 4 columns]

In [39]:
everyone.where(everyone['userID']==1236).dropna()

       userID  artistID   weight  normalized
55459  1236.0       7.0  15239.0    0.000220
55460  1236.0     198.0   1158.0    0.000017
55461  1236.0     210.0    897.0    0.000013
55462  1236.0     377.0    990.0    0.000014
55463  1236.0     416.0   1032.0    0.000015
55464  1236.0     453.0   1758.0    0.000025
55465  1236.0     464.0    914.0    0.000013
55466  1236.0     472.0   3877.0    0.000056
55467  1236.0     475.0  10240.0    0.000148
55468  1236.0     490.0   2557.0    0.000037
55469  1236.0     517.0   1969.0    0.000028
55470  1236.0     547.0    881.0    0.000013
55471  1236.0     614.0  69301.0    0.001002
55472  1236.0     757.0   1070.0    0.000015
55473  1236.0     808.0   2088.0    0.000030
55474  1236.0     812.0   2955.0    0.000043
55475  1236.0     854.0   2674.0    0.000039
55476  1236.0     856.0   2495.0    0.000036
55477  1236.0     923.0   6015.0    0.000087
55478  1236.0     953.0   1988.0    0.000029
55479  1236.0     966.0   1970.0    0.000028
55480  1236.0     978.0   7651.0    0.000111
55481  1236.0    1104.0   7365.0    0.000106
55482  1236.0    1118.0   9050.0    0.000131
55483  1236.0    1131.0  18600.0    0.000269
55484  1236.0    1179.0   3653.0    0.000053
55485  1236.0    1401.0    700.0    0.000010
55486  1236.0    1409.0    874.0    0.000013
55487  1236.0    1410.0   3392.0    0.000049
55488  1236.0    1449.0    696.0    0.000010
55489  1236.0    2172.0  14820.0    0.000214
55490  1236.0    2352.0   1274.0    0.000018
55491  1236.0    2366.0   2559.0    0.000037
55492  1236.0    2380.0   2096.0    0.000030
55493  1236.0    2474.0   3749.0    0.000054
55494  1236.0    2479.0  10491.0    0.000152
55495  1236.0    2818.0   1251.0    0.000018
55496  1236.0    4365.0   2503.0    0.000036
55497  1236.0    5154.0    787.0    0.000011
55498  1236.0    5947.0   1396.0    0.000020
55499  1236.0    6257.0   7606.0    0.000110
55500  1236.0    6618.0   5743.0    0.000083
55501  1236.0    6678.0    928.0    0.000013
55502  1236.0    8347.0    803.0    0.000012
55503  1236.0    8930.0   1575.0    0.000023
55504  1236.0   10956.0   2390.0    0.000035
55505  1236.0   11021.0    776.0    0.000011
55506  1236.0   13375.0   1606.0    0.000023
55507  1236.0   13376.0   1500.0    0.000022
55508  1236.0   13377.0    778.0    0.000011